
.navbar-background{
    width: 100%;
}
.content{
    width: 100%;
}
.image{
    height: 500px;
    width: 50%;
    background: blue;
}
.post{
    height: 500px;
    width: 50%;
    background: red;
}
.footer{
    width: 100%;
    height: 300px;
    background: orange; 
}
